name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1
      - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235 # v1.0.11
        with:
          save-cache: ${{ github.ref_name == 'main' }}
          cache-key: warm
      - name: Check with no feature flags
        run: cargo check --verbose --no-default-features
        working-directory: ./schemars
      - name: Run tests
        run: cargo test --verbose --all-features --no-fail-fast
        working-directory: ./schemars
      - name: Run derive tests
        run: cargo test --verbose --all-features --no-fail-fast
        working-directory: ./schemars_derive
